<main class="main">
  <div class="container mt-5">
    <h1 class="text-center">Lista de Artículos de uso común</h1>
    <h1 class="text-center">Semana 2 (4-10/febrero) - Sam</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Elemento</th>
          <th scope="col">Stock (Unidad)</th>
          <th scope="col">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Jabón para lavar platos</th>
          <td class="bg-danger">0</td>
          <td>2</td>
        </tr>
        <tr>
          <th scope="row">Esponja para lavar platos</th>
          <td class="bg-warning">1</td>
          <td>2</td>
        </tr>
        <tr>
          <th scope="row">Funda de basura</th>
          <td class="bg-danger">0</td>
          <td>2</td>
        </tr>
        <tr>
          <th scope="row">Funda de Deja</th>
          <td class="bg-success">1</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>
    <hr class="border-bottom" />
    <h1 class="text-center">Limpieza de Casa</h1>
    <h3 class="text-center">Semana 2 (4-10/febrero) - Sam</h3>
    <h3 class="text-center">Semana 3 (11-17/febrero) - Guillermo</h3>
    <h3 class="text-center">Semana 4 (18-24/febrero) - Belén</h3>
    <hr class="border-bottom" />
    <h1 class="text-center">Limpieza de Nevera</h1>
    <h3 class="text-center">Semana 2 (4-10/febrero) - Sam</h3>
    <h3 class="text-center">Semana 3 (11-17/febrero) - Guillermo</h3>
    <h3 class="text-center">Semana 4 (18-24/febrero) - Belén</h3>
  </div>
</main>


<router-outlet></router-outlet>
